body{
    margin: 0px;
    background-color: rgb(255, 255, 255);
}
#HealthCare{
    font-family:Georgia, serif;
    color: rgb(0, 5, 8);
    font-size: 1.25em;
    font-weight: 800;
    text-decoration: none;
    border-radius: 5px;
    padding:0.2em 0.5em;
    margin:0em 0.5em;
}
.topnav{
    margin-top: 0px;
    border-width:0px;
    background-image: url('images/Signup.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    font-size: 20px;
    text-align: left;
    padding: 0.75em 2em 0em 2em;
    margin-bottom: 3em;
}
.topnav a{
    font-family:Georgia, serif;
    color: rgb(0, 5, 8);
    font-size: 1.25em;
    font-weight: 800;
    text-decoration: none;
    border-radius: 5px;
    padding:0.2em 0.75em;
    margin:0em 0.5em;
    margin-left: 0px;
}
.topnav a{
    transition-duration: 0.4s;
}
.topnav a:hover {
    background-color: #020c0f;
    color: white;
    font-weight: 700;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 10px 50px 0 rgba(0,0,0,0.19);
}
.fa-sign-out{
    padding-left: 35em;
}
#user{
    text-align: center;
    font-size: 40px;
}

.sidenav{
    margin-left: 25px;
    height: 100%;
    width: 20%;
    z-index: 1;
    top: 0;
    float: left;
    left: 0;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidenav a {
    border: 2px #818181 solid;
    border-bottom: 0px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    color: #818181;
    display: block;
}
.sidenav a:nth-child(1){
    background-color:rgb(206, 69, 216);
    color: #f1f1f1;
}

.dash {
    text-align: center;
    font-size: xx-large;
    margin-left:15em;
    margin-top: 3em;
}
.dash span{
    width: 30%;
    margin-bottom: 2em;
    height: 10;
}
.adddoctor th{
    padding: 6px 4px;
    word-spacing: 1px;
    letter-spacing: 1px;
}